@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);
ul {
    list-style: none;
}

#navigation {
    color: white;
    background-color: black;
    padding: 16px;
}

#mynavbar {
    justify-content: center;
}

.navbar {}

.navbar ul {}

.navbar li {
    position: relative;
}

.navbar li+li {}

.navbar a,
.navbar a:focus {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 3px;
    margin-left: 9px;
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: 11px;
    left: 16px;
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 30px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

body {
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
}

h1 {
    font-size: 38px;
    color: #222222;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    margin: 0px 0 70px 0;
    text-align: center;
    text-transform: uppercase;
    padding-top: 90px;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #222222;
    font-size: 25px;
    margin: 0 0 5px 0;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 70px 0;
}

.about-us .points {
    position: relative;
    list-style-type: none;
    padding: 5px 0 5px 30px;
    color: #010100;
}

.about-us .points:before {
    content: "\2714";
    position: absolute;
    font-family: FontAwesome;
    font-size: 1.125em;
    color: black;
    left: 0px;
    top: 3px;
}

.about-us-link a:first-child {
    margin-left: 0;
}

.about-us-list {
    background-color: #bebdbd;
}


/*skills start*/

#skills {
    padding: 90px 0px;
    background: url("img/slide4.jpg") top no-repeat;
    color: white;
    background-color: #010100;
}

#skills h2 {
    color: #fff;
}

.skills_section {
    padding: -40px 0 40px;
}

.skills_block {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.skills_icon {
    width: 90px;
    height: 85px;
    margin: 0px auto 25px;
}

.skills_icon span {
    background: transparent;
    display: block;
    height: 95px;
    width: 95px;
    border: 1px solid gray;
    border-radius: 10%;
    padding: 6px 0 0;
}

.skills_icon i {
    color: #fee16f;
    font-size: 40px;
    margin-top: 0;
    position: relative;
    top: 20px;
    z-index: 20;
    display: block;
    text-align: center;
}

.skills_block h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: white;
    margin: 35px 0 15px;
}

#siklls h6 {
    color: white;
}

.skills_block p {
    font-size: 16px;
    color: #a5a5a5;
    margin: 0 0 35px 0;
}

#work_outer {
    background: #f9f9f9;
    padding: 70px 0px;
    position: relative;
}

.work_pic {
    position: absolute;
    right: 0;
    top: 25%;
    width: 50%;
}

.inner_section {
    padding: 0px;
}

.skills-list {
    padding: 0 0 0 0;
    font-size: 14px;
    margin-bottom: 40px;
}

.skills-list-col1 {
    float: left;
    width: 60px;
    text-align: center;
}

.skills-list-col1 i {
    display: flex;
    color: #888;
    font-size: 19px;
    font-style: normal;
    line-height: 20px;
}

.skills-list-col2 {
    overflow: hidden;
}

.page_section.alabaster {
    background: #fafafa;
}

.work_bottom {
    padding: 20px 0 0 0px;
}

.work_bottom span {
    font-size: 18px;
    color: #333333;
    display: block;
    margin: 0 0 20px 0;
}

a.contact_btn {
    background: #fff;
    text-transform: uppercase;
    display: block;
    width: 170px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-size: 16px;
    color: #ed5441;
    border-radius: 3px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    border: 2px solid #ed5441;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    justify-content: center;
}

a.contact_btn:hover {
    background: #ed5441;
    color: #fff;
}

.input-text {
    background: transparent;
}

.aboutUs-container {
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    background-position-y: 70px;
}

h2 {
    text-align: center;
}

.container.portfolio_title {
    padding-bottom: 0px;
}

#portfolio {
    padding: 90px 0px;
}

.portfolio-nav {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
}

.portfolio-nav li {
    margin: 0 10px;
    display: inline;
}

.portfolio-nav li a {
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
    border-radius: 4px;
    text-transform: uppercase;
    background: #f7f7f7;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.portfolio-nav li a:hover {
    background: #ed5441;
    color: #fff;
    text-decoration: none;
}

.portfolioContainer {
    margin: 0 auto;
    padding-left: 15px;
    width: auto !important;
}

.portfolio-box {
    text-align: center;
    width: 350px;
    overflow: hidden;
    float: left;
    padding: 12px 0px;
}

.portfolio-box img {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.portfolio-box img:hover {
    opacity: 0.6;
}

.portfolio-nav li a.current {
    background: #ed5441;
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
}

#filters {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    display: block;
    float: none;
    z-index: 2;
    position: relative;
}

#filters ul li {
    display: inline-block;
    margin: 0 5px;
}

#filters ul li a {
    display: block;
}

#filters ul li a h5 {
    background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 10px 22px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    background: #fff;
    border: #c2c2c2 solid 1px;
    color: #7c7c7c;
}

#filters ul li a:hover h5,
#filters ul li a.active h5 {
    background: rgb(50, 50, 53);
    color: white;
    text-decoration: none;
    border: #000000 solid 1px;
}

.section-title h2 {
    color: #222222;
    font-family: "Raleway", sans-serif;
    font-size: 34px;
    letter-spacing: -1px;
    margin: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
}

.section-title span {
    display: block;
    color: #888888;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 60px;
    text-align: center;
}

#techSkills {
    padding: 80px 0 60px;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0;
}

.progress {
    position: relative;
    height: 25px;
}

.progress>.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: rgba(255, 255, 255, 0.54);
    background-color: rgba(25, 25, 25, 0.2);
}

.progress>.progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 400;
    padding: 3px 10px 2px;
}

.portfolio-item {
    padding: 0;
    position: relative;
    overflow: hidden;
}

.portfolio-item .portfolio_img {
    overflow: hidden;
    display: block;
    position: relative;
}

.portfolio-item .portfolio_img img {
    width: 70%;
    height: auto;
}

.portfolio-item:hover .item_overlay {
    opacity: 1;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.item_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    cursor: pointer;
}

.open-project-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.item_overlay:hover {
    background: rgba(89, 89, 89, 0.7);
}

.item_info {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 50%;
    margin-top: -50px;
    text-align: center;
}

.project_name {
    color: #fff;
    text-transform: uppercase;
    margin-top: 25px;
    opacity: 0;
    font-size: 18px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    position: relative;
    z-index: 10;
}

.project_catg {
    font-size: 14px;
    color: #fff;
    opacity: 0;
    margin-top: 0px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.item {
    transition: 0.5s ease-in-out;
}

.footer_wrapper {
    margin-top: -60px;
    background: url("img/camera1.jpg") no-repeat;
    filter: blur(99%);
    width: 100%;
    background-color: rgba(7, 6, 7, 255);
}

.footer_bottom {
    border-top: 1px solid #3c3a3a;
    padding: 25px 0;
}

.footer_bottom span {
    display: block;
    font-size: 14px;
    color: #cccccc;
    text-align: center;
}

.footer_bottom span a {
    display: inline-block;
    color: #fdd83d;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.footer_bottom span a:hover {
    color: #fff;
}

.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .aboutUs-container {
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 59%;
        background-position-y: 150px;
    }
}

@media (max-width: 768px) {
    .navStyle {
        float: right;
        width: auto;
        text-align: center;
    }
    .aboutUs-container {
        background-image: none;
    }
    p {
        font-size: 14px;
    }
    .top_cont_outer {
        height: 335px;
    }
    .hero_section {
        position: relative;
        padding-top: 10px;
    }
    .top_left_cont {
        padding: 38px 0;
    }
    .top_left_cont h2 {
        font-size: 25px;
        color: #fff;
        line-height: 39px;
        margin: 0 0 9px 0;
    }
    .inner_section {
        padding: 20px 0 20px;
    }
    #aboutUs img {
        margin-bottom: 20px;
    }
    #aboutUs h3 {
        font-size: 26px;
        line-height: 22px;
    }
    .service_block h3 {
        font-size: 16px;
    }
    .service_block p {
        font-size: 14px;
        margin: 0px;
        margin-bottom: 20px;
    }
    #filters ul {
        padding-left: 0px;
    }
    .form {
        margin: 0 18px;
    }
    .page_section.team {
        padding: 40px 0;
    }
    #clients {
        padding: 40px 0;
    }
    .client_logos ul li {
        display: inline;
        margin: 0 25px;
        padding: 11px 0;
        display: inline-block;
    }
    .social_links li {
        float: left;
    }
    .contact_section {
        margin: 10px;
    }
    h2,
    .contact_section h2 {
        font-size: 30px;
    }
    .page_section.contact {
        padding: 60px 0 50px;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background: #ffffff;
    }
    .navbar-inverse .navbar-toggle {
        border-color: transparent;
    }
    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background: none;
        outline: none;
    }
    .navStyle ul li {
        display: block;
    }
    .navStyle {
        float: right;
        width: 100%;
        text-align: center;
    }
    .navbar {
        border: 0px solid #fff;
        min-height: 40px;
        margin-bottom: 0px;
        float: right;
    }
    .navStyle ul li {
        display: block;
        margin: 0px;
    }
    .navStyle ul li:last-child {
        margin: 0px;
    }
    .navbar-inverse .navbar-nav>li>a {
        color: #d0d0d0;
        font-size: 14px;
        padding: 10px 11px;
    }
    #portfolio_wrapper {
        position: absolute;
        left: 50px;
    }
}

@media (max-width: 480px) {
    .navStyle {
        float: left;
        width: 100%;
        text-align: left;
        margin-top: 20px;
    }
    .caption {
        display: none;
    }
    .navbar {
        border: 0px solid #fff;
        min-height: 40px;
        margin-bottom: 0px;
        float: initial;
        width: 100%;
    }
    .team_area {
        width: 99%;
    }
    .read_more2 {
        display: none;
    }
    #portfolio_wrapper {
        position: absolute;
        left: 50px;
    }
}

.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

.page_section.contact {
    padding: 90px 0 100px;
}

.contact_section {
    margin: 0 0 60px 0;
}

.contact_section h2 {
    font-size: 40px;
    color: #ffffff;
    margin: 0 0 50px 0;
    text-transform: uppercase;
}

.contact_block {
    text-align: center;
}

.contact_block_icon {
    border-radius: 50%;
    height: 85px;
    width: 85px;
    margin: 0px auto 20px;
}

.contact_block_icon.icon2 {
    border-color: #ed5441;
}

.contact_block_icon.icon3 {
    border-color: #49b5e7;
}

.contact_block_icon span {
    background: none repeat scroll 0 0 #f56eab;
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}

.contact_block_icon.icon2 {
    border-color: #ed5441;
}

.contact_block_icon.icon2 span {
    background: #ed5441;
}

.contact_block_icon.icon3 {
    border-color: #49b5e7;
}

.contact_block_icon.icon3 span {
    background: #49b5e7;
}

.contact_block_icon i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: 26px;
    z-index: 20;
}

.contact_block span {
    display: block;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
}

.contact_block span a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
}

.contact_info {
    font-size: 15px;
    margin: 0 0 0 20px;
    padding-left: 0;
}

.contact_info h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 30px;
    color: #fff;
}

.contact_info p {
    line-height: 28px;
    display: block;
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 30px;
}

.social_links {
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    list-style: none;
}

.social_links li {
    float: left;
    margin-right: 4px;
}

.social_links li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
}

.social_links li a:hover,
.social_links li a:focus {
    text-decoration: none;
    border-radius: 80px;
}

.twitter a:hover {
    color: #55acee;
}

.facebook a:hover {
    color: #3b5998;
}

.pinterest a:hover {
    color: #cb2026;
}

.gplus a:hover {
    color: #dd4b39;
}

.form {
    margin: 0 66px 0 30px;
}

.input-text {
    padding: 15px 16px;
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 4px;
    font-size: 15px;
    color: #aaa;
    margin: 0 0 15px 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-text:focus {
    border: 1px solid #fff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area {
    height: 230px;
    resize: none;
    overflow: auto;
}

.input-btn {
    width: 175px;
    height: 50px;
    letter-spacing: 0px;
    background: #fed93e;
    border-radius: 3px;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    text-align: center;
}

.input-btn:hover {
    background: #fff;
    color: #222;
}

#portfolio_wrapper .one-four {
    margin: 0px auto;
    line-height: 0;
    width: 25%;
    padding: 0;
    position: relative;
}

.portfolio-item {
    padding: 0;
    position: relative;
    overflow: hidden;
}

.portfolio-item .portfolio_img {
    overflow: hidden;
    display: block;
    position: relative;
}

.portfolio-item .portfolio_img img {
    width: 100%;
    height: auto;
}

.portfolio-item:hover .item_overlay {
    opacity: 1;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.item_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    cursor: pointer;
}

.open-project-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.item_overlay:hover {
    background: rgba(89, 89, 89, 0.7);
}

.item_info {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 50%;
    margin-top: -50px;
    text-align: center;
}

.project_name {
    color: #fff;
    text-transform: uppercase;
    margin-top: 25px;
    opacity: 0;
    font-size: 18px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    position: relative;
    z-index: 10;
}

.portfolio-item:hover .project_name {
    opacity: 1;
    -webkit-transition: opacity 0.1s 0.2s;
    -moz-transition: opacity 0.1s 0.2s;
    -ms-transition: opacity 0.1s 0.2s;
    -o-transition: opacity 0.1s 0.2s;
    transition: opacity 0.1s 0.2s;
}

.project_catg {
    font-size: 14px;
    color: #fff;
    opacity: 0;
    margin-top: 0px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.portfolio-item:hover .project_catg {
    opacity: 0.8;
    -webkit-transition: opacity 0.1s 0.2s;
    -moz-transition: opacity 0.1s 0.2s;
    -ms-transition: opacity 0.1s 0.2s;
    -o-transition: opacity 0.1s 0.2s;
    transition: opacity 0.1s 0.2s;
}

.zoom-icon {
    left: 50%;
    margin-left: -20px;
    position: inherit;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    opacity: 0;
    background: url(images/zoom.png);
    background-size: 40px 40px;
    transition: all 0.3s ease 0.1s;
    -moz-transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.3s ease 0.2s;
    -ms-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
}

.portfolio-item:hover.zoom-icon {
    opacity: 1;
    margin-top: 0px;
    -webkit-transition: opacity 0.3s 0.2s, margin-top 0.3s 0.2s;
    -moz-transition: opacity 0.3s 0.2s, margin-top 0.3s 0.2s;
    -ms-transition: opacity 0.3s 0.2s, margin-top 0.3s 0.2s;
    -o-transition: opacity 0.3s 0.2s, margin-top 0.3s 0.2s;
    transition: opacity 0.3s 0.2s, margin-top 0.3s 0.2s;
}

.container.portfolio_title {
    padding-bottom: 0px;
}

#portfolio {
    padding: 70px 0 40px;
}

#Portfolio {
    padding: 60px 0px;
}

.Portfolio-nav {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
}

.Portfolio-nav li {
    margin: 0 10px;
    display: inline;
}

.Portfolio-nav li a {
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
    border-radius: 4px;
    text-transform: uppercase;
    background: #f7f7f7;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-nav li a:hover {
    background: #ed5441;
    color: #fff;
    text-decoration: none;
}

.portfolioContainer {
    margin: 0 auto;
    padding-left: 15px;
    width: auto !important;
}

.Portfolio-box {
    text-align: center;
    width: 300px;
    overflow: hidden;
    float: left;
    padding: 12px 0px;
}

.Portfolio-box img {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-box img:hover {
    opacity: 0.6;
}

.Portfolio-nav li a.current {
    background: #ed5441;
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
}

figure.effect-oscar {}

figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
    padding: 3em;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 40px;
    right: 30px;
    bottom: 40px;
    left: 30px;
    border: 1px solid #fff;
    content: "";
}

figure.effect-oscar h2 {
    margin: 80px 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: rgb(204, 202, 197);
    text-decoration: none;
    font-size: 20px;
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #ffffff;
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    color: #fff;
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}

.grid figure {
    position: relative;
    max-width: 325px;
    max-height: 480px;
    width: 60%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    min-width: 320px;
}

.grid figure img {
    position: relative;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 25%;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

.decoration a:hover {
    text-decoration: none;
}

.decoration a {
    text-decoration: none;
}

.section-title {
    margin-top: 30px;
}

.decoration a {
    text-decoration: none;
}

.section-title {
    margin-top: 30px;
}

#portfolio_wrapper {
    position: absolute;
    left: 10px;
}

body {
    margin: 0;
    padding: 0;
}


/* .container{
	width:90%
	margin:10px auto;
} */

.portfolio-menu1 {
    text-align: center;
}

.portfolio-menu1 ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all .5s ease;
}

.portfolio-item1 {
    /*width:100%;*/
    margin-bottom: 50px;
}

.portfolio-item1 .item {
    /*width:303px;*/
    float: left;
    margin-bottom: 10px;
}

#portfolio1 {}